#profile{
    border-right: solid 1px #E8E8E8;
    margin-top: -20px;
    height: 600px;
}


#date{
    color: #707070;
    font-weight: 100;
    padding-bottom: 20px;
    border-bottom: solid 1px #E8E8E8;
}

#list{
    padding: 0;
}


#list ul{
    list-style: none;
    width: 100%;
    padding: 0;
}

#list li{
    padding-left: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    border-bottom: solid 1px #E8E8E8;
    width: 100%;
}

.btns{
    margin-left: 90%;
    margin-top: -40px;
}

.btns #red{
    color: red;
}

.btns #blue{
    color: dodgerblue;
}

div.logo{
    width: 80%;
    margin-left: 10%;
    background-color: #E8E8E8;
    border-radius: 5px;
    margin-top: 20px;
}

.logo span{
    font-size: 2em;
    padding-top: 1.5em;
}

.logo p{
    color: #707070;
    padding-bottom: 1em;
}

.logo h2{
    color: #505050;
}

.c{
    height: 10px;
    width: 25%;
    display: block;
    float: left;
}

.c1{
    background-color: #FFA92F;
    border-top-left-radius: 5px;
}

.c2{
    background-color: #FF763C;
}

.c3{
    background-color: #E75237;
}

.c4{
    background-color: #FE4A49;
    border-top-right-radius: 5px;
}

.logo a{
    width: 80%;
    margin-left: 10%;
    padding-bottom: 2em;
    text-decoration: none;
}

.logo a p{
    background-color: #FE4A49;
    padding-top: 0.8em;
    border-radius: 5px;
    color: #fff;
}

.logo a p:hover{
    opacity: 0.9;
}

nav a.name{
    font-weight: 800;
}

.btnRemove{
    font-size: 1em;
}

p#deadline{
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    margin-top: 1.5em;
    color: #707070;
}

p#expiredate{
    font-size: 0.8em;
    padding: 0.2em;
    display: block;
    float: left;
    border-radius: 5px;
    color: #fff;
    margin-left: 1em;
}

p#timeleft{
    color: #fff;
    font-size: 0.8em;
    padding: 0.2em;
    display: block;
    float: left;
    border-radius: 5px;
}

p#duration{
    font-size: 0.8em;
    padding: 0.2em;
    display: block;
    float: left;
    margin-left: 1em;
    border-radius: 5px;
    color: #fff;
}

.remover{
    margin-left: 90%;
    margin-top: -45px;
    padding-bottom: 20px;
}

.rood{
    background-color: #FE4A49;
}

.oranje{
    background-color: #E75237;
}

.geel{
    background-color: #FF763C;
}

.nostress{
    background-color: #FFA92F;
}

.grijs{
    background-color: #909090;
}